<div class="G-flex-center-between G-mb-20px">
  <h2>
    {{'posts' | translate}} {{ 'total' | translate }}: {{ postsResponse?.total }}
  </h2>
  <a
    [appPermission]="[PermissionsEnum.CreatePost]"
    [routerLink]="['', 'posts', ManageTypesEnum.Add]"
    nz-button
    nzType="primary">
    <i nz-icon nzType="plus-circle" nzTheme="outline"></i>
    {{ 'add' | translate }}
  </a>
</div>
<nz-table #nzTable
          [nzLoading]="isGettingPostsList$ | async"
          [nzScroll]="{ x: '1100px' }"
          nzShowPagination
          [nzData]="postsList"
          nzTableLayout="fixed"
          [nzPageSize]="pageSize"
          [nzTotal]="postsResponse?.total"
          [nzFrontPagination]="false"
          (nzPageIndexChange)="pageIndex = $event;"
          (nzQueryParams)="params = $event;getPostsList($event)"
          [nzPageIndex]="pageIndex">
  <thead>
  <tr>
    <th [nzSortFn]="true" [nzColumnKey]="PostsListColumnKeysEnum.Title" nzCustomFilter>
      <nz-filter-trigger
        [(nzVisible)]="visibleTitleFilter"
        [nzActive]="postsService.titleFilter.length > 0"
        [nzDropdownMenu]="titleFilter">
        <i nz-icon nzType="search"></i>
      </nz-filter-trigger>
      {{'title' | translate}}
    </th>
    <th #headerColumns [nzColumnKey]="PostsListColumnKeysEnum.Language" [nzSortFn]="true"  [nzFilters]="languagesList" [nzFilterFn]="true">{{'language' | translate}}</th>
    <th #headerColumns [nzColumnKey]="PostsListColumnKeysEnum.Category" [nzSortFn]="true"  [nzFilters]="categoriesList" [nzFilterFn]="true">{{'category' | translate}}</th>
    <th #headerColumns [nzColumnKey]="PostsListColumnKeysEnum.Character" [nzSortFn]="true"  [nzFilters]="charactersList" [nzFilterFn]="true">{{'character' | translate}}</th>
    <th #headerColumns [nzSortFn]="true" [nzColumnKey]="PostsListColumnKeysEnum.PublishedItemsCount" [nzFilterFn]="true">{{'publishedTimesCount' | translate}}</th>
    <th #headerColumns [nzSortFn]="true" [nzColumnKey]="PostsListColumnKeysEnum.Created" [nzFilterFn]="true">{{'created_at' | translate}}</th>
    <th #headerColumns [nzSortFn]="true" [nzColumnKey]="PostsListColumnKeysEnum.Updated" [nzFilterFn]="true">{{'updated_at' | translate}}</th>
    <th nzWidth="200px" class="G-text-align-center">{{'actions' | translate}}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let post of nzTable.data">
    <td nzEllipsis [nz-tooltip]="post.title">{{ post.title }}</td>
    <td nzEllipsis [nz-tooltip]="post.language?.title">{{ post.language?.title }}</td>
    <td nzEllipsis [nz-tooltip]="post.category?.title">{{ post.category?.title }}</td>
    <td nzEllipsis [nz-tooltip]="post.character?.title">{{ post.character?.title }}</td>
    <td nzEllipsis [nz-tooltip]="post.schedule_times_count">{{ post.schedule_times_count }}</td>
    <td>{{ post.created_at | date: 'dd:MM:yyy - HH:mm:ss' : '+0300' }}</td>
    <td>{{ post.updated_at | date: 'dd:MM:yyy - HH:mm:ss' : '+0300' }}</td>
    <td>
      <div class="P-actions G-flex-justify-center">
        <button
          [appPermission]="[PermissionsEnum.ViewPost]"
          nz-button
          nzType="primary"
          [routerLink]="['', 'posts', ManageTypesEnum.Preview, post.id]">
          <i nz-icon nzType="eye" nzTheme="outline"></i></button>
        <button
          [appPermission]="[PermissionsEnum.ViewPost, PermissionsEnum.UpdatePost]"
          nz-button
          nzType="default"
          [routerLink]="['', 'posts', ManageTypesEnum.Edit, post.id]">
          <i nz-icon nzType="edit" nzTheme="outline"></i>
        </button>
        <button
          [appPermission]="[PermissionsEnum.DeletePost]"
          nzPopconfirmPlacement="right"
          [nzPopconfirmTitle]="'deletePostPopupText' | translate"
          nz-popconfirm
          nz-button
          nzType="default"
          nzDanger
          (nzOnConfirm)="deletePost(post.id)">
          <i nz-icon nzType="delete" nzTheme="outline"></i>
        </button>
      </div>
    </td>

  </tr>
  </tbody>
</nz-table>

<nz-dropdown-menu #titleFilter="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input
        type="text"
        nz-input
        [placeholder]="'searchTitle' | translate"
        [(ngModel)]="postsService.titleFilter"
        (keydown.enter)="pageIndex = 0;initializeValues()">
      <button nz-button nzSize="small"
              nzType="primary"
              (click)="pageIndex = 0;
               initializeValues()"
              class="search-button">
        {{ 'search' | translate }}
      </button>
      <button
        nz-button
        nzSize="small"
        (click)="postsService.titleFilter = '';initializeValues()">{{ 'reset' | translate }}</button>
    </div>
  </div>
</nz-dropdown-menu>
