<div class="G-flex-center-between G-mb-20px">
    <h2>
      <i appCursor class="G-pr-5px" nz-icon nzType="arrow-left" nzTheme="outline" (click)="back()"></i>
      {{'chains' | translate}} {{ 'total' | translate }}: {{ chainsResponse?.total }}
    </h2>
  <a
    [appPermission]="[PermissionsEnum.CreateChain]"
    [routerLink]="['', 'bots', telegramBotId, 'chains', ManageTypesEnum.Add]"
    nz-button
    nzType="primary">
    <i nz-icon nzType="plus-circle" nzTheme="outline"></i>
    {{ 'add' | translate }}
  </a>
</div>
<nz-table #nzTable
          [nzScroll]="{ x: '1100px' }"
          nzShowPagination
          [nzData]="chainsList"
          nzTableLayout="fixed"
          [nzPageSize]="pageSize"
          [nzTotal]="chainsResponse?.total"
          [nzFrontPagination]="false"
          (nzPageIndexChange)="pageIndex = $event;initializeValues()"
          [nzPageIndex]="pageIndex">
  <thead>
  <tr>
    <th nzCustomFilter>
      <nz-filter-trigger
        [(nzVisible)]="visibleTitleFilter"
        [nzActive]="chainsService.titleFilter.length > 0"
        [nzDropdownMenu]="titleFilter">
        <i nz-icon nzType="search"></i>
      </nz-filter-trigger>
      {{'title' | translate}}
    </th>
    <th>{{'isActive' | translate}}</th>
    <th>{{'timeFrom' | translate}}</th>
    <th>{{'timeTo' | translate}}</th>
    <th nzWidth="250px" class="G-text-align-center">{{'actions' | translate}}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let chain of nzTable.data">
    <td appCursor nzEllipsis [nz-tooltip]="chain.title">{{ chain.title }}</td>
    <td nzEllipsis>
      <nz-switch [(ngModel)]="chain.is_active" (ngModelChange)="changeStatus(chain, $event)"></nz-switch>
    </td>
    <td appCursor>{{ chain.time_from | date: 'HH:mm': '+0300' }}</td>
    <td appCursor>{{ chain.time_to | date: 'HH:mm': '+0300' }}</td>
    <td>
      <div class="P-actions G-flex-justify-center">
        <button
          [appPermission]="[PermissionsEnum.ViewContentsList]"
          nz-button
          nzType="primary"
          [routerLink]="['', 'bots', telegramBotId, 'chains', chain.id, 'content']">
          <i nz-icon nzType="send" nzTheme="outline"></i>
        </button>
        <button
          [appPermission]="[PermissionsEnum.ViewChain, PermissionsEnum.UpdateChain]"
          nz-button
          nzType="default"
          [routerLink]="['', 'bots', telegramBotId, 'chains', ManageTypesEnum.Edit, chain.id]">
          <i nz-icon nzType="edit" nzTheme="outline"></i>
        </button>
        <button
          [appPermission]="[PermissionsEnum.DeleteChain]"
          nzPopconfirmPlacement="right"
          [nzPopconfirmTitle]="'deleteChainsPopupText' | translate"
          nz-popconfirm
          nz-button
          nzType="default"
          nzDanger
          (nzOnConfirm)="deleteChain(chain.id)">
          <i nz-icon nzType="delete" nzTheme="outline"></i>
        </button>
      </div>
    </td>

  </tr>
  </tbody>
</nz-table>

<nz-dropdown-menu #titleFilter="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input
        type="text"
        nz-input
        [placeholder]="'searchTitle' | translate"
        [(ngModel)]="chainsService.titleFilter"
        (keydown.enter)="pageIndex = 0;initializeValues()">
      <button nz-button nzSize="small"
              nzType="primary"
              (click)="pageIndex = 0;
               initializeValues()"
              class="search-button">
        {{ 'search' | translate }}
      </button>
      <button
        nz-button
        nzSize="small"
        (click)="chainsService.titleFilter = '';initializeValues()">{{ 'reset' | translate }}</button>
    </div>
  </div>
</nz-dropdown-menu>
